{% extends 'flatpages/default.html' %}

{% load post_filters %}
{% load post_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>All news</h1>
    <tr><h7>{{ news|length }} news</h7></tr>

    <hr>

    {% if perms.news.add_product %}
    <a href="{% url 'post_create' %}">Добавить новость/статью</a>
    {% endif %}

    {% if news %}
    <hr>
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Начало</td>
                <td>Автор</td>
                <td>Категория</td>

                {% if perms.news.change_post %}
                <td>Действия</td>
                {% endif %}

            </tr>
            {% for new in news|dictsort:'dateCreation' %}
            <tr>
                <td><a href="{% url 'post_detail' new.id %}">{{ new.title|censor }}</a></td>
                <td>{{ new.dateCreation|date:'d M Y H:i' }}</td>
                <td>{{ new.text|truncatewords:20|censor }}</td>
                <td>{{ new.author.authorUser.username }}</td>
                <td>
                    {% for category in new.postCategory.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </td>

                <td>
                    {% if perms.news.change_post %}
                    <a href="{% url 'post_update' new.id %}">Изменить</a>
                    <a href="{% url 'post_delete' new.id %}">Удалить</a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}


    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}


#
